<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <h1>Hello From the Home Controller and this the index View!</h1>
    </div>
    <div>
        <a href="/Home/AboutUs">Home - About US</a> </br>
        <a href="/Employee/Index">Employee - Home</a> </br>
        <a href="/Employee/AboutUs">Employee - About Us</a>
    </div>
</body>
</html>