
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        @CustomHelpers.Image("https://cdn.mos.cms.futurecdn.net/ifJPbUm9XMsQdt7AQAets.jpg", "this is a custom helper image")
        @Html.Img("https://cdn.mos.cms.futurecdn.net/ifJPbUm9XMsQdt7AQAets.jpg","This is another custom method")
    </div>
</body>
</html>
