
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section pageName{
    <h1>another section render</h1>
}

@section renderName{
   <h1>Munib kahn</h1>    
}

<h2>Index</h2>

